<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <app-header> </app-header>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>


<div class="menu-button-wrapper container">
  <div class="menu-button" *ngFor="let m of menu">
    <ion-card> 
      <ion-card-content>
        <div class="flex-column">
          <a [routerLink]="[m.url]">
            <img alt="logo" id="header_logo" float-left src="assets/icon/{{m.icon}}">
            <div>
              {{m.label}}
            </div>
          </a>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</div>

</ion-content>
